body{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    background-color: rgb(214, 170, 255);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}
.form{
    padding: 30px 40px;
}
h2{
    text-align: center;
    margin:0 0 0 20px;
}
.form-control{
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 20px;
    text-align: center;
}
.form-control label{
    font-weight: bold; 
    display: block;
    margin-bottom: 5px;
}
.form-control input{
    border: 2px;
    border-radius: 4px;

}